# Ignore Python cache & system stuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.DS_Store

# Ignore virtual environments
.venv/
.env/
.conda/
.envrc

# Ignore OS files and junk
*.log
*.swp
.cache/
.idea/
.vscode/
*.egg-info/

# Ignore notebooks or huge files (optional)
*.ipynb
data/
