# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/
ENV/
.conda/
conda-meta/
*.conda
*.env

# Conda environment files
*.yml
*.yaml

# Pip and build
*.egg-info/
dist/
build/
.eggs/
pip-log.txt

# Test outputs
.coverage
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Logs
logs/
*.log

# Jupyter
.ipynb_checkpoints/

# MyPy
.mypy_cache/

# Pyre
.pyre/

# VSCode
.vscode/

# Redis
dump.rdb

# Docker
Dockerfile~
docker-compose.override.yml
*.pid

# OS
.DS_Store
Thumbs.db

# Streamlit (if used)
.streamlit/

# Other temporary stuff
tmp/
temp/
.cache/
